.on-test {
    /*background-color: #bcf8ff;*/
}


* {
    margin: 0;
    padding: 0;
}

body, button, input, textarea {
    font-family: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;
}

html,body {
    height:100%;
}

body {
    overflow: hidden;
    min-width: 300px;
}

ul {
    list-style-type: none;
}

body,h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    line-height: 1.5
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 25px
}

h3,h4,h5 {
    font-size: 22px
}

p {
    font-size: 14px;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #07b4ff;
}

header h2 {
    padding-left: 30px;
}

.fa {
    padding: 0 10px;
}

.inline-block {
    display: inline-block;
}

#expand-left {
    display: none;
}

#left-view {
    width: 200px;
    height: calc(100% - 50px);
    float: left;
    border-right: solid 2px #f3f3f3;
    background-color: #f3f3f3;
    outline: none;
}

#wrapper {
    margin-left: 210px;
    width: calc(100% - 210px);
    height: calc(100% - 50px);
}

#center-view {
    float: left;
    width: 60%;
    height: calc(100% - 50px);
    overflow-y: auto;
}

#right-view {
    height: 100%;
    float: right;
    width: 38%;
    border-left: solid 2px #f3f3f3;
}

@media screen and (max-width: 960px) {
    #left-view {
        display: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
    #wrapper {
        margin-left: 10px;
        width: 100%;
    }
    #expand-left {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    #center-view {
        width: 97%;
    }
    #right-view {
        margin-right: -38%;
    }
}

#project-list {
    margin-top: 90px;
}

#project-list li {
    cursor: pointer;
}

#project-list li.active {
    color: #fff;
    background-color: #516bc1;
}

#project-list .fa-ellipsis-h {
    /*display: none;*/
    float: right;
    line-height: 30px;
    opacity: 0.4;
    padding-right: 15px;
    z-index: 100;
}

#project-name {
    margin-top: 40px;
}

#add-task {
    margin: 10px 0;
    font-size: 0
}

#add-task input {
    line-height: 36px;
    height: 36px;
    width: calc(100% - 14px);
    padding-left: 10px;
}

#task-list li{
    font-size: 0;
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #d5d5d5;
}

#task-list li:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

#task-list i, #task-list span {
    font-size: 16px;
}

#task-list span {

}

li.title-list.active {
    background-color: #f3f3f3;
}

span.task-title {
/*display: inline-block;*/
    /*width: calc(100% - 36px);*/
    outline: none;
}

#task-content {
    padding: 20px;
}

#project-dropdown-menu {
    display: none;
    min-width: 40px;
    /*height: 80px;*/
    padding: 10px;
    background-color: #fff;
    border:1px solid #ececec;
    border-radius: 4px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
}


.footer {
    border: 1px solid #f3f3f3;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

#delete-task {
    line-height: 50px;
    height: 50px;
}
