.on-test {
    /*background-color: #bcf8ff;*/
}


* {
    margin: 0;
    padding: 0;
}

body, button, input, textarea {
    font-family: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;
}

html,body {
    height:100%;
}

body {
    overflow: hidden;
    min-width: 300px;
}

ul {
    list-style-type: none;
}

body,h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    line-height: 1.5
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 25px
}

h3,h4 {
    font-size: 22px
}

h5 {
    font-size: 16px
}

p {
    font-size: 14px;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #07b4ff;
}

header h2 {
    padding-left: 30px;
}

.fa {
    padding: 0 10px;
}

.inline-block {
    display: inline-block;
}

#expand-left {
    display: none;
}

#task-setting .fa-angle-left {
    display: none;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

/*#main {*/
    /*height: 100%;*/
/*}*/

#left-view {
    width: 250px;
    height: calc(100% - 50px);
    float: left;
    border-right: solid 2px #f3f3f3;
    background-color: #f3f3f3;
    outline: none;
    z-index: 10;
}

#wrapper {
    margin-left: 260px;
    width: calc(100% - 260px);
    height: calc(100% - 50px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

#center-view {
    float: left;
    width: 60%;
    height: calc(100% - 50px);
    overflow-y: auto;
    margin-right: 10px;
}

#right-view {
    height: 100%;
    float: left;
    width: 38%;
    border-left: solid 2px #f3f3f3;
    position: relative;
    outline: none;
    background-color: #ffffff;
}

@media screen and (max-width: 960px) {
    #left-view {
        display: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
    #wrapper {
        margin-left: 10px;
        width: 100%;
    }
    #expand-left {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    #center-view {
        width: 97%;
    }
    #right-view {
        display: none;
        position: absolute;
        right: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        width: 300px;
        z-index: 20;
    }
    #task-setting .fa-angle-left {
        display: inline-block;
    }
}

#project-list {
    margin-top: 90px;
}

#project-list li {
    cursor: pointer;
}

#project-list li.active {
    color: #fff;
    background-color: #1B9AF7;
}

#project-list .fa-ellipsis-h {
    /*display: none;*/
    float: right;
    line-height: 30px;
    opacity: 0.4;
    padding-right: 15px;
    z-index: 100;
}

#project-name {
    margin:15px 10px;
}

#project-name .fa-bars {
    cursor: pointer;
}

#add-task {
    margin: 10px 0;
    font-size: 0
}

#add-task input {
    line-height: 36px;
    height: 36px;
    width: calc(100% - 14px);
    padding-left: 10px;
}

#task-list li{
    font-size: 0;
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #d5d5d5;
}

#task-list h5 {
    margin-top: 16px;
    margin-bottom: 5px;
    padding-left: 10px;
}

#finished-task {
    opacity: 0.5;
}

#task-list li .fa-edit {
    float: right;
    height: 30px;
    line-height: 30px;
    opacity: 0.4;
    padding-right: 15px;
}

#task-list li:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

#task-list i, #task-list span {
    font-size: 16px;
}

#task-list span {

}

#task-list li.title-list.active {
    background-color: #d5d5d5;
}

span.task-title {
/*display: inline-block;*/
    /*width: calc(100% - 36px);*/
    outline: none;
}

div.not-selected {
    background-color: #ffffff;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
}

#task-setting {
    margin-top: 10px;
    border-bottom: 1px solid #d5d5d5;
    padding: 0 10px;
    height: 54px;
    box-sizing: border-box;
}

#date-setting {
    display: inline-block;
    font-size: 0;
    position: relative;
}

#date-picker {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 30px;
    left: -10px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 200;
    outline: none;
    margin: 0 10px;
    padding: 10px;
}

#date-picker button {
    margin: 10px;
}

#task-setting span, #task-setting input {
    font-size: 16px;
    opacity: 0.5;
}

#task-setting input {
    width: 200px;
    padding: 0 5px;
}

#task-setting .fa-calendar {
    opacity: 0.5;
    font-size: 16px;
    cursor: pointer;
}

#task-content {
    position: relative;
    height: calc(100% - 140px);
    background-color: #96ffb5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#task-content textarea {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 30px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#project-dropdown-menu {
    display: none;
    min-width: 40px;
    /*height: 80px;*/
    padding: 10px;
    background-color: #fff;
    border:1px solid #ececec;
    border-radius: 4px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
}


.footer {
    border: 1px solid #f3f3f3;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: calc(100% - 2px);
}

#delete-task {
    line-height: 50px;
    height: 50px;
}
